@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
:root{
--yellow:#f9ca24;
}

*{
    font-family: "Nunito Sans", sans-serif;
    margin: 0;padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}
*::selection{
    background:var(--yellow);
    color: #333;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
html::-webkit-scrollbar{
    width: 1.4rem;
}
html::-webkit-scrollbar-track{
    background-color: #222;
}
html::-webkit-scrollbar-thumb{
    background:var(--yellow);
}
body{
    background-color: #111;
    overflow-x: hidden;
    padding-left: 35rem;
}
section{
    min-height: 100vh;
    padding-left: 35rem;
}
.btn{
    padding: 1.5rem 4rem;
    background: #333;
    color:#fff ;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 2rem;
    border-radius: 5rem;
    height: 60px;

}
.btn i{
    padding: 0 .5rem;
    font-size: 1.8rem;
}
.btn:hover{
    background:var(--yellow) ;
}
header{
    position: fixed;
    top: 0;left: 0;
    z-index: 1000;
    height: 100%;
    width: 35rem;
    background: #1a1a1a;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;

}
header.user,img{
    height: 17rem;
    width: 17rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    border: 0.5rem solid var(--yellow);
}
.name{
    font-size: 3.5rem;
    color: #fff;
}
.post{
    font-size: 2rem;
    color: #eee;
}
header.navbar{
    width: 100%;
}
.navbar ul{
    list-style: none;
    padding: 1rem 3rem;
}
.navbar ul li a{
    display: block;
    padding: 0.5rem;
    margin: 1rem 0;
    background:#333 ;
    color: #fff;
    font-size: 2rem;
    border-radius: 5rem;
    width: 170px;
}
.navbar ul li a:hover{
    background: var(--yellow);
}

/* header section end */

#menu{
    position: fixed;
    top: 2rem;right: 2rem;
    background: #333;
    color: #fff;
    cursor: pointer;
    font-size: 2.5rem;
    padding: 1rem 1.5rem;
    z-index: 1000;
    display: none;
}
.home{
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding: 0 15rem;
}
.home h3{
    font-size: 2.5rem;
    color: #fff;
}

.home h1{
    font-size: 5rem;
    color: #fff;
}
.home span{
    color:var(--yellow)
}
.home p{
    font-size: 2rem;
    color: #eee;
    padding: 1rem 0;
}

.heading{
    text-alig
    align-items: center;
    margin: 0 6rem;
    font-size: 4rem;
    padding: 1rem;
    border-bott
    color: #fff;
}
.heading span{
    color:var(--yellow) ;

}
.row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem 0;
}
.about{
    align-items: center;
}













@media(max-width:1200px){
    html{
        font-size: 55%;
        
    }
    .home{
        padding: 1rem 4rem;
    }

}
@media(max-width:991px){
    header{
        left: -120%;
    }
    #menu{
        display: block;
    }
    header.toggle{
        left: 0%;
    }
    body{
        padding: 0;
    }

}

@media(max-width:400px){
    header{
        width: 100vh;
    }
   

}

